/* Imports de Fuentes de Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Open+Sans:wght@400;600&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    /* 🎨 Colores */
    --white-color: #ffffff;
    --black-color: #000000;

    /* Grises de apoyo */
    --gray-light-color: #f5f5f5;
    --gray-medium-color: #cccccc;
    --gray-dark-color: #252525;

    /* Naranja */
    --orange-light-color: #ffb347; 
    --orange-color: #ff9800;       
    --orange-dark-color: #e65100;  

    /* Amarillo */
    --yellow-light-color: #fff59d; 
    --yellow-color: #ffeb3b;       
    --yellow-dark-color: #fbc02d;

    /* Azul */
    --blue-light-color: #4abdf4;  
    --blue-color: #1e9be9;        
    --blue-dark-color: #1565c0;   


    /* 🔤 Tamaños de fuente */
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    /* 🔡 Grosor de fuente */
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* ⭓ Border radius */
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    /* 📐 Ancho máximo del sitio */
    --site-max-width: 1300px;
}

/* Estilos para los componentes del sitio */
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

img {
    width: 100%;
}

.section-content{
    margin: 0 auto;
    padding: 0 20px;
    max-width: var(--site-max-width);
}

.arquitectura-section-content{
    margin: 0 auto;
    padding: 0 20px;
    max-width: var(--site-max-width);
}

.section-title {
    text-align: center;
    padding: 60px 0 100px;
    text-transform: uppercase;
    font-size: var(--font-size-xl);
}

.section-title::after {
    content:  "";
    width: 80px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    border-radius: var(--border-radius-s);
    background: var(--black-color);
}

.arquitectura-section-title {
    text-align: center;
    padding: 60px 0 100px;
    text-transform: uppercase;
    font-size: var(--font-size-xl);
    color: var(--blue-color);
}

.arquitectura-section-title::after {
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    border-radius: var(--border-radius-s);
    background: var(--blue-color);
    
}

/* Estilos para la barra de navegación */
header {
    position: fixed;
    width: 100%;
    z-index: 5;
    background: var(--black-color);
}

header .navbar {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav-logo .logo-text {
    color: var(--blue-color);
    font-size:var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}

.navbar .nav-menu {
    display: flex;
    gap: 20px;
}

.navbar .nav-menu .nav-link {
    padding: 10px 18px;
    color: var(--blue-color);
    font-size: var(--font-size-m);
    border-radius: var(--border-radius-m);
    transition: 0.3s ease;
}

.navbar .nav-menu .nav-link:hover {
    color: var(--blue-color);
    background: var(--gray-dark-color);
}

.navbar :where(#menu-close-button, #menu-open-button) {
    display: none;
}

/* Zona de configuración de la "Hero Section" */ 
.hero-section {
    min-height: 100vh;
    background: var(--gray-dark-color);
}

.hero-section .section-content {
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: var(--blue-color);
    justify-content: space-between;
}

.hero-section .hero-details .title {
    font-size: var(--font-size-xxl);
    color: var(--blue-light-color);
    font-family: "Playfair Display", serif;
}

.hero-section .hero-details .subtitle {
    margin-top: 8px;
    max-width: 70%;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);    
}

.hero-section .hero-details .description {
    max-width: 70%;
    margin: 24px 0 40px;
    font-size: var(--font-size-m);
}

.hero-section .hero-details .buttons {
    display: flex;
    gap: 23px;

}

.hero-section .hero-details .button {
    padding: 10px 26px;
    border: 2px solid transparent;
    color:  var(--black-color);
    border-radius: var(--border-radius-m);
    background-color: var(--blue-light-color);
    font-weight: var(--font-weight-medium);
    transition: 0.3s ease;
}

.hero-section .hero-details .button:hover,
.hero-section .hero-details .sobre-mi {
    color: var(--gray-light-color);
    border-color: var(--gray-light-color);
    background: transparent;
}

.hero-section .hero-details .sobre-mi:hover {
    color: var(--black-color);
    border-color: var(--blue-light-color);
    background-color: var(--blue-light-color);
}


.hero-section .hero-image-wrapper {
    max-width: 500px;
    margin-right: 30px;
}

/* Estilos para la sección 'Acerca de' */
.acerca-de {
    padding: 120px 0;
    background: var(--blue-color);
}

.acerca-de .section-content {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}

.acerca-de .acerca-image-wrapper .acerca-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: var(--border-radius-circle);
}

.acerca-de .acerca-details .section-title {
    padding: 0;
}

.acerca-de .acerca-details {
    max-width: 50%;
}

.acerca-de .acerca-details .text {
    line-height: 30px;
    margin: 50px 0 30px;
    text-align: center;
    font-size: var(--font-size-m);
}

.acerca-de .contact-links {
    display: flex;
    gap: 25px;
    justify-content: center;
}

.acerca-de .contact-links .contact-link {
    color: var(--black-color);
    font-size: var(--font-size-l);
    transition:  0.2s ease;
}

.acerca-de .contact-links .contact-link:hover {
    color: var(--gray-light-color);
}

/* Estilos para la sección 'Arquitectura' */
.arquitectura-section {
    padding: 120px 0;
    background: var(--gray-dark-color);
}

.arquitectura-section .arquitectura-section-content {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.arquitectura-section .arquitectura-image-wrapper .arquitectura-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.arquitectura-section .arquitectura-details .arquitectura-section-title {
    padding: 0;
}

.arquitectura-section .arquitectura-details {
    max-width: 50%;
}

.arquitectura-section .arquitectura-details .text {
    line-height: 1.7;              
    margin: 20px 0;                
    max-width: 700px;              
    font-size: var(--font-size-m);
    color: var(--blue-color);
    text-align: left;
}


.arquitectura-section .arquitectura-details ul {
    list-style: none;              
    padding: 0;
    margin: 20px auto;
    max-width: 600px;
}

.arquitectura-section .arquitectura-details ul li {
    margin-bottom: 10px;
}



/* Indicaciones para el diseño responsive de la pagina con 900px */
@media screen and (max-width: 900px) {
    :root {
        --font-size-m: 1rem;
        --font-size-l: 1.3rem;
        --font-size-xl: 1.5rem;
        --font-size-xxl: 1.8rem;
    }

    body.show-mobile-menu header::before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(5px);
        background: rgba(0, 0, 0, 0.2);
    }

    .navbar :where(#menu-close-button, #menu-open-button) {
        display: block;
        font-size: var(--font-size-l);
        color: var(--blue-color);
    }

    .navbar #menu-close-button {
        position: absolute;
        right: 30px;
        top: 30px; 
    }

    .navbar .nav-menu {
        display: block;
        position: fixed;
        left: -300px;
        top: 0;
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        background: var(--black-color);
        transition: left 0.2s ease;
    }

    body.show-mobile-menu .navbar .nav-menu {
        left: 0;
    }

    .navbar .nav-menu .nav-link {
        color: var(--blue-color);
        display: block;
        margin-top: 17px;
        font-size: var(--font-size-l);
    }

    .hero-section .section-content {
        gap: 50px;
        text-align: center;
        padding: 30px 20px 20px;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .hero-section .hero-details :is(.subtitle, .description), .acerca-de .acerca-details .arquitectura-section .arquitectura-details {
        max-width: 100%;  
    }

    .hero-section .hero-details .buttons {
        justify-content: center;
        
    }

    .hero-section .hero-image-wrapper {
        max-width: 270px;
        margin-right: 0;
    }

    .acerca-de .section-content {
        gap: 70px;
        flex-direction: column-reverse;
    }

    .acerca-de .acerca-image-wrapper .acerca-image {
        width: 100%;
        height: 100%;
        max-width: 250px;
        aspect-ratio: 1;
    }

    .arquitectura-section .arquitectura-section-content {
        gap: 70px;
        flex-direction: column-reverse;
    }
    
    .arquitectura-section .arquitectura-image-wrapper .arquitectura-image {
        width: 100%;
        height: 100%;
        max-width: 250px;
        aspect-ratio: 1;
    }

}